*,
::after,
::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

#title {
  margin-top: 2rem;
  justify-content: center;
}

#search {
  justify-content: end;
  margin-top: 3rem;
}

#search .searchbar {
  display: flex;
  justify-content: center;
  margin-inline-end: 0.5rem;
  height: 35px;
  width: 200px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  padding: 5px;
}

#search .search_input {
  border: 0;
  outline: 0;
  padding: 0 10px;
  width: 100%;
  background: none;
  caret-color: #393939;
  color: #393939;
}

#search .search_input::placeholder {
  color: #393939;
  opacity: 0.4;
}

#search .search_icon {
  font-size: 15px;
  background-color: transparent;
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}
#search .search_icon,
#search .search_icon:focus {
  outline: none;
  border: none;
}

#search .search_icon:hover {
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

#movies {
  margin-top: 2rem;
  flex-wrap: wrap;
}

#movies .col {
  flex: 0 0 auto;
  width: 100%;
  padding: 1rem 2rem;
}

#movies .col .movie-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 0px 1rem 1rem 1rem;
}

#movies .col .movie-item .details {
  display: flex;
} 

#movies .col .movie-item .details .title{
  margin-bottom: 0.4rem;
}

#movies .col .movie-item .details .rate {
  margin-left: auto;
  background-color: #ddd;
  color: #393939;
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: max-content;
}
#movies .col .movie-item .year {
  color: #898989;
  margin-top: 0.5rem;
  margin-top: auto;
}

#movies .col .movie-item .img {
  height: 300px;
  background-size: cover;
  background-position: center;
  margin: -1rem -1rem 0.6rem -1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  #movies .col {
    width: 50%;
  }
  #movies .col .movie-item .img {
    height: 300px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  #movies .col {
    width: 25%;
    padding: 1rem 1rem;
  }
}
