.tweet{
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    overflow-y: scroll;
}
.tweet-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
   
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
    cursor: pointer;
    color: white;
}
.tweet-header > h2{
    font-size: 20px;
    font-weight: 800;
}