.leftPane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  ul {
    list-style: none;
    li {
      max-width: max-content;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      border-radius: 50px;
      padding: 10px;
      cursor: pointer;
      transition: 0.3s;
      svg {
        width: 25px;
        height: auto;
        margin-right: 10px;
        transition: 0.3s;
      }
    }
    li:hover {
      background: #1c1c1c;
      color: rgb(29, 155, 240);
      box-shadow: 0px 0px 50px 1px rgb(29, 155, 240);
      svg {
        background: #fff;
        color: #000;
        padding: 5px;
        border-radius: 35px;
        color:  rgb(29, 155, 240);
      }
    }
  }
  header {
    svg {
      margin-left: 50px;
      height: 40px;
      width: 40px;
    }
  }
}
