.list-user {
  flex: 1;
  overflow-y: auto;
  padding: 8px 0px;
}
.list-user li {
  margin-bottom: 2px;
  padding: 12px 24px;
  background-color: #ffffff;
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
[theme="dark"] .list-user li {
  background-color: #7a7a7a;
}
.list-user li.active {
  box-shadow: -1px 0px 2px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 2px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 2px 1px rgba(0, 0, 0, 0.75);
}
.list-user li .user-img {
  margin-inline-end: 16px;
}
.list-user li .user-detail {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.list-user li .user-detail .user-name  {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list-user li .user-detail .last-msg {
  font-size: 14px;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
