.tweet-box{
    padding-bottom: 10px;
    border-bottom: 1px solid var(--twitter-background);
    padding-right: 10px;
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.avatar:hover{
    background-color: #f0f0f0;
}
.tweet-box > form {
    display: flex;
    flex-direction: column;
}
.tweet-box-input{
    padding: 20px;
    display: flex;
}
.tweet-box-input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}
.tweet-box-icon{
    display: flex;
    cursor: pointer;
    color: #1D9BF0;
    margin-bottom: 15px;
}