@import '../../App.scss','../leftPane/LeftPane.scss';
$hoverColor:rgb(0 104 173);
button{
    font: $font;
    cursor:pointer;
    width: 100%;
    height: 38px;
    border-radius: 35px;
    border: none;
    background: $color2;
    color: $fontColor;
    transition: $transitionNormal;
    &:hover{
        background: $hoverColor;
    }
}