button{
    width: auto;
    cursor: pointer;
    cursor: pointer;
    width: 100%;
    height: 38px;
    border-radius: 35px;
    border: none;
    background: rgb(29, 155, 240) ;
    color: #fff;
    transition: 0.3s;
    &:hover{
        background: rgb(0 104 173);
    }
}