@import '../../App.scss','../leftPane/LeftPane.scss';

button{
    @media only screen and (max-width: 600px){
        img{
            display: block;
            margin: auto;
        }
    }
    font: $font;
    cursor:pointer;
    width: 225px;
    height: 50px;
    border-radius: 35px;
    border: none;
    background: $color2;
    color: $fontColor;
    transition: $transitionNormal;
    &:hover{
        background: $hoverColor;
    }
}